<div class="background min-h-screen w-full fixed top-0 left-0"></div>

<div class="home-container p-[30px]">
   <div class="w-5/12 fixed top-[30px] left-[30px] bg-white grid grid-cols-2 gap-[30px]">
      <div>
         <p>Forks of art</p>
      </div>
      <div>
         <% @paths.each do |p| %>
            <p><%= p.title %></p>
         <% end %>
      </div>
   </div>

   <div class="bg-white w-[53.5%] ml-auto z-50">
      <div class="flex flex-row justify-between w-full">
         <p><%= @paths[0].title %></p>
         <p><%= @paths[0].year %></p>
      </div>
      <div>
         <img src="https://media-cdn.tripadvisor.com/media/photo-s/1a/28/1e/f1/club-med-sahoro-hokkaido.jpg" alt="" class="w-full">
         <img src="https://media-cdn.tripadvisor.com/media/photo-s/1a/28/1e/f1/club-med-sahoro-hokkaido.jpg" alt="" class="w-full">
         <img src="https://media-cdn.tripadvisor.com/media/photo-s/1a/28/1e/f1/club-med-sahoro-hokkaido.jpg" alt="" class="w-full">

      </div>
   </div>

</div>


