<div class="home-container p-[30px] h-full min-h-screen" style="background-image:url(https://www.tasteofhome.com/wp-content/uploads/2021/06/peonies-QTR-1200x800-GettyImages-1095928994.jpg?fit=700,800); background-size: 375px; background-position: center;">
   <div class="w-5/12 fixed top-[30px] left-[30px] bg-white grid grid-cols-2 gap-[30px]">
      <div>
         <p>Forks of art</p>
      </div>
      <div>
         <% @paths.each do |p| %>
            <p><%= p.title %></p>
         <% end %>
      </div>
   </div>

   <div class="bg-white w-[53.5%] ml-auto">
      <div class="flex flex-row justify-between w-full">
         <p><%= @paths[0].title %></p>
         <p><%= @paths[0].year %></p>
      </div>
      <div>
         <img src="https://media-cdn.tripadvisor.com/media/photo-s/1a/28/1e/f1/club-med-sahoro-hokkaido.jpg" alt="" class="w-full">
         <img src="" alt="">
      </div>
   </div>

</div>


