.poems-index-container a {
   color: #7B68EE;
}

.poems-index-container a:visited {
   color: #2E8B57;
}


.forks-button {
   background: #D0E3D0;
   border: 1px solid #7B68EE;
   color: #7B68EE;
   width: 100%;
   padding: 3px;
}

#comm-box {
   border-color: #7B68EE;
   padding: 3px;
   box-shadow: none;
   line-height: 1.2;
}

.mb-breadcrumbs-container {
   -ms-overflow-style: none;  /* Internet Explorer 10+ */
   scrollbar-width: none;  /* Firefox */
}
.mb-breadcrumbs-container::-webkit-scrollbar { 
   display: none;  /* Safari and Chrome */
}