.poems-index-container a {
   color: #7B68EE;
}

.poems-index-container a:visited {
   color: #2E8B57;
}


.forks-button {
   background: #D0E3D0;
   border: 1px solid #7B68EE;
   color: #7B68EE;
   width: 100%;
   padding: 3px;
}

#comm-box {
   border-color: #7B68EE;
   padding: 3px;
   box-shadow: none;
   line-height: 1.2;
}

.mb-breadcrumbs-container {
   -ms-overflow-style: none;  /* Internet Explorer 10+ */
   scrollbar-width: none;  /* Firefox */
}
.mb-breadcrumbs-container::-webkit-scrollbar { 
   display: none;  /* Safari and Chrome */
}

.breadcrumbs-container::-webkit-scrollbar,
.metadata-drawer::-webkit-scrollbar {
   display: none;
}

#js-forks-container {
   left: 33vw;
   transition: all 0.5s ease-out;
}

.fork-holder {
   width: 33vw;
}

@media only screen and (max-width: 768px) {
   #js-forks-container {
      left: 0px;
   }

   .fork-holder {
     padding: 36px 24px;
     width: 100%;
     min-width: 100vw;
   }
 }